<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keliangliu.crm.mapper.DeptMapper">
    <insert id="save" parameterType="Dept">
        insert into dept (dept_name, p_id) VALUES (#{deptName},#{pId})
    </insert>
    <delete id="delDeptById">
        DELETE from dept where id = #{id}

    </delete>

    <select id="findAll" resultType="Dept">
        select * FROM dept;
    </select>

</mapper>